#breadcrumbs{
    background-color: rgb(243, 244, 245);
}
#breadcrumbs li {
    display: inline-block;
    color:gray;
  }
  #breadcrumbs li a{
    display: inline-block;
    color:gray;
    text-decoration: none;
  }
  #breadcrumbs li a:hover{
    text-decoration: underline;
  }
  #breadcrumbs li:not(:first-child) {
    margin-left: 0.4em;
  }
  #breadcrumbs li:not(:first-child):before {
    content: '>';
    margin-right: 0.4em;
  }
  #sitemaps{
      background-color: rgb(243, 244, 245);
  }
  #sitemaps ul{
    list-style-type: none;
    overflow:hidden;
  }
  #sitemaps ul li a{
      color:rgb(110, 110, 110);
      padding:5px;
      display: block;
      text-decoration: none;
  }
  #sitemaps ul li a:hover{
      text-decoration: underline;
  }