body{
  margin-left: 5%;
  margin-right: 5%;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #ffffff;
    color:black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
#navigation ul li {
    float: left;
  }

#logo {
    height: 50px;
    width: 100px;
    background-image: linear-gradient(to right,rgb(10, 78, 10), rgb(42, 204, 42), rgb(10, 78, 10));
    border-radius: 50%;
    text-align: center;
    color:white;
    font-size:40px;
    font-family: "Lucida Console", Monaco, monospace;
}

.mainnav a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.mainnav a:hover{
      background-color:rgb(0, 0, 0);
      color:white;
      }

.register a{
    background-color: rgb(36, 131, 36);
    color:white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.register a:hover{
  background-color: rgb(24, 88, 24);
}

.content1{
  grid-area:content1;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("introduction.jpg");
  height:560px;
  background-size:100% 100%;
  color:white;
}
#introduction{
  margin-top:20%;
  text-align: center;
}
#introduction h1{
  font-size:50px;
  font-family: "Arial Black", Gadget, sans-serif;
}
#introduction p{
  font-size:25px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.content2{
  grid-area:content2;
  margin-top: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("anaerobic exercise.jpeg");
  height:300px;
  background-size: 100% 100%;
  background-blend-mode: darken;
  color:white;
  text-align: center;
}

.content2 h1{
  margin-top:100px;
}

.content3{
  grid-area:content3;
  margin-top:5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("facilities.jpg");
  height:300px;
  background-size: 100% 100%;
  color:white;
  text-align: center;
}

.content3 h1{
  margin-top:100px;
}

.content{
  margin-top:5px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "content1  content1 content1 content1"
    "content1 content1 content1 content1"
    "content2  content2  content3 content3";
    
  color: #444;
}

.index-button{
  background-color: rgb(247, 247, 247);
  color: black;
  padding:10px;
  width:20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  outline: none;
}
.index-button:hover{
  background-color:rgb(43, 43, 43);
  color:white;
}

footer nav ul{
  list-style-type: none;
  overflow:hidden;
  background-color: rgb(223, 223, 223);
}
footer nav ul li{
  float: left;
  padding:8px;
}
footer ul li a{
  display: block;
  text-align: center;
}


/* service.html */

#service-content{
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
}

.service-box-right{
  height:300px;
  text-align: center;
  background-color: rgb(233, 232, 232);
}
.service-box-right img{
  height:300px;
  width:50%;
  float:right;
}
.learn-more{
  background-color: rgb(34, 33, 33);
  color: white;
  padding:10px;
  width:20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  outline: none;
}
.learn-more:hover{
  background-color:rgb(236, 233, 233);
  color:black;
}
.service-box-left{
  height:300px;
  text-align: center;
  background-color: rgb(252, 252, 252);
}
.service-box-left img{
  height:300px;
  width:50%;
  float:left;
}

/* about us.html */
#about-us-content{
  background-color: rgb(240, 239, 239);
}
#about-us-content h1{
  text-align: center;
}

#about-us-content p{
  margin-left: 10%;
  margin-right:10%;
}

/* contact us.html */
#contact-us{
  background-color: rgb(240, 239, 239);
}
#contact-us h1{
  text-align: center;
}
#contact{
  list-style-type: none;
  text-align: center;
}
#contact-firstname{
  border-radius: 5px;
}
#lastname{
  margin-top:10px;
  border-radius: 5px;
}
#contact-email{
  margin-top:10px;
  border-radius: 5px;
}
#phone{
  margin-top:10px;
  border-radius: 5px;
}
#comment{
  margin-top:10px;
  border-radius: 5px;
}
.submit{
  margin-top:10px;
  background-color: rgb(58, 172, 35);
  color: white;
  padding:10px;
  width:20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
}
.submit:hover{
  background-color:rgb(39, 102, 19);
}
form .error {
  color: #ff0000;
}


/* register.html */
#register-content{
  background-color: rgb(240, 239, 239);
}
.register-error {
  color: red;
  font-size: 12px;
  margin-left: 300px;
  display: none;
}
.label{
  font-family: 'Times New Roman', Times, serif;
}
#registration_form{
  text-align:center;
}
#registration_form div input{
  border-radius: 8px;
}
#registration_form div textarea{
  border-radius: 8px;
}
#secondname{
  margin-top: 10px;
}
#age{
  margin-top:10px;
}
#address{
  margin-top: 10px;
}
#email{
  margin-top: 10px;
}
#referral{
  margin-top: 10px;
}
#membership{
  margin-top:10px;
}
#duration{
  margin-top:10px;
}
#calculator{
  text-align: center;
}
#numMembers{
  margin-top:10px;
}
#fee{
  margin-top:10px;
}


/* facilities.html */
#facilities-content{
  background-color: #f1f0f0;
}
#facilities-content h1{
  text-align: center;
}
#facilities-content img{
  height:300px;
  width:400px;
}

/* cardio training.html */
#cardio-training img{
  width:60%;
  margin-left:20%;
}
